
///MODAL//.
/// 

.loginpopup-waper, .signUppopup-waper,.forgotpasswordpopup-waper{
    display: none;
}

.loginpopup, .signUppopup,.forgotpasswordpopup{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
    z-index: 3;
    pointer-events: none;
}
.overlay{
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.80) 100%);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
    display: none;
}

.myPopup{
    pointer-events: all;
    border-radius: 22px;
    background-image: url(../images/login-popup-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 65px 106px 0px rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(28.5px);
	overflow: hidden;
    width: 556px;
    height: 760px;
    max-width: calc(100vw - 30px);
    max-height: calc(100vh - 30px);
	position: relative;
    z-index: 2;
    padding: 75px 70px 65px;
    overflow-y: auto;

	.closePop{
		 position: absolute;
		 right: 10px;
		 top: 10px;
		 font-size: 14px;
		 cursor: pointer;
		 background: #fff;
		 color: #333;
		 width: 22px;
		 height: 22px;
		 border-radius: 50%;
		 padding-top: 2px;
		 display: grid;
		 place-items: center;
		 font-weight: 800;
		 transition: all 0.1s ease;
		 will-change: background-color;

		 &:hover{
			  background-color: #333;
			  color: #fff;
		 }
	}

}

.popupcont{
    h6{
        color: #FFF;
        font-variant-numeric: lining-nums proportional-nums;
        font-size: 64px;
        font-weight: 700;
        line-height: 1.1;
        padding-bottom: 20px;
    }
    p{ 
        color: #FFF;
        font-size: 21px;
        font-weight: 400;
        line-height: 1.5;
    }

    .popupfeild{
        padding-bottom: 25px;
        position: relative;
        label{
            color: #FED801;
            font-variant-numeric: lining-nums proportional-nums;
            font-size: 21.333px;
            font-weight: 700;
            line-height: 1.2;
            padding-bottom: 20px;
        }

        input, select{
            width: 100%;
            height: 75px;
            border-radius: 10px;
            border: 2px solid #9DAFBD;
            background:  #FFF;
            padding: 20px 40px;
        }
    }

    .loginforgot{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 55px;

        a{
            text-align: right;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.2;
            background: linear-gradient(137deg, #CBEFBC 0%, #C4DFF7 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            &:hover{
                opacity: 0.7;
            }
        }

        label{
            display: flex;
            align-items: center;
            color: #FFF;
            font-size: 13px;
            font-weight: 500;
            line-height: 1.2;

            input{
                margin-right: 8px;
            }
        }
    }

    .popupbutton{
        padding-bottom: 40px;
        button{
            display: flex;
            width: 100%;
            height: 90px;
            padding: 14px 37px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 5px;
            background: #FED801;
            box-shadow: 0px 13px 26px 0px rgba(0, 0, 0, 0.20);

            color: #000;
            text-align: center;
            font-size: 30px;
            font-weight: 700;
            line-height: 1;
            transition: all 0.4s ease-in-out;

            &:hover{
                background-color: #090F22;
                color: #fff;
            }
        }
    }

    .popupsingUp{
        text-align: center;

        span{
            color: #FFF;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.2;
        }

        a{
            background: linear-gradient(137deg, #CBEFBC 0%, #C4DFF7 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.2;

            &:hover{
                opacity: 0.7;
            }
        }
    }
}

.signUppopup{
    .myPopup{
        width: 1403px;
        height: 855px;
        background-image: url(../images/signup-popup-bg.png);
    }

    .popupcont{
        h6{
            padding-bottom: 10px;
        }
        p{
            padding-bottom: 37px;
        }

        .popupfeild{
            .pdmoreinput{
                padding-right: 160px;
            }
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: 27px;
                right: 2px;
                width: 150px;
                height: 71px;
                padding: 14px 19px;
                border-radius: 0 9px 9px 0;
                background: #FED801;
    
                color: #000;
                text-align: center;
                font-size: 20px;
                font-weight: 700;
                line-height: 1;
    
                &:hover{
                    background-color: #090F22;
                    color: #fff;
                }
            }

            ul{
                padding-bottom: 0px;
                li{
                    display: inline-flex;
                    align-items: center;
                    width: 49%;
                    padding-bottom: 10px;

                    color: #8FABE3;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1.2;

                    .icon{
                        padding-right: 10px;
                    }

                    &.done{
                        color: #FEFEFF;
                    }
                }
            }
        }

        .popupbutton{
            padding-bottom: 25px;
            button{
                height: 75px;
            }
        }

        .otherbtn{
            padding-top: 40px;
            button{
                width: 100%;
                height: 75px;
                padding: 12px 18px;
                border-radius: 6px;
                border: 1px solid #EEF0F3;
                background: #FFF;
                box-shadow: 0px 1px 2px 0px rgba(105, 81, 255, 0.05);
                justify-content: center;
                align-items: center;
                gap: 8px;
                flex-shrink: 0;
                display: flex;
                color:  #556987;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.2; 
                transition: all 0.4s ease-in-out;

                &:hover{
                    border-color: transparent;
                    background-color: #0343AE;
                    color: #fff;
                }
            }
        }
    }
}


